.references {
  background: url("../../assets/shared/desktop/bg-pattern-circle.svg") no-repeat
    center -37rem;
  background-color: var(--dark-background);
  color: var(--light-text);
  padding: 80px 0;
  text-align: center;
}

@media (min-width: 768px) {
  .references {
    background: url("../../assets/shared/desktop/bg-pattern-circle.svg")
      no-repeat center -34rem;
    background-color: var(--dark-background);
    color: var(--light-text);
    padding: var(--section-padding) 0;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .references {
    background: url("../../assets/shared/desktop/bg-pattern-circle.svg")
      no-repeat -69% -315px;
    background-color: var(--dark-background);
    color: var(--light-text);
    padding: 80px 0;
    text-align: center;
    display: flex;
  }
}

@media (min-width: 1300px) {
  .references {
    background: url("../../assets/shared/desktop/bg-pattern-circle.svg")
      no-repeat -55% -315px;
    background-color: var(--dark-background);
    color: var(--light-text);
    padding: 80px 0;
    text-align: center;
    display: flex;
  }
}

@media (min-width: 1400px) {
  .references {
    background: url("../../assets/shared/desktop/bg-pattern-circle.svg")
      no-repeat -45% -315px;
    background-color: var(--dark-background);
    color: var(--light-text);
    padding: 80px 0;
    text-align: center;
    display: flex;
  }
}

@media (min-width: 1200px) {
  .references__wrapper {
    display: flex;
    flex-direction: row-reverse;
    gap: 130px;
  }

  .references-description {
    text-align: left;
    flex: 2;
  }
}

.references-logos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .references-logos {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 65px;
    gap: 3.5rem;
  }
}

@media (min-width: 1200px) {
  .references-logos {
    gap: 3rem;
    margin: auto;
    flex: 1;
  }
}

.references-description__heading {
  color: #fbfcfe;
  font-family: "DM Serif Display";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px; /* 116.667% */
  letter-spacing: -0.369px;
}

@media (min-width: 768px) {
  .references-description__heading {
    font-size: var(--font-h2);
  }
}

.references-description__copy {
  color: #fbfcfe;
  font-family: "Public Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 186.667% */
  opacity: 0.7;
  max-width: 375px;
  margin: auto;
  margin-bottom: var(--spacing-lg);
}

@media (min-width: 768px) {
  .references-description__copy {
    max-width: 450px;
  }
}

.tesla,
.microsoft,
.hewlett-packard,
.oracle,
.google,
.nividia {
  transform: scale(0.8);
}

@media (min-width: 768px) {
  .tesla,
  .microsoft,
  .hewlett-packard,
  .oracle,
  .google,
  .nividia {
    transform: scale(1);
  }
}
