.easy {
  padding-top: var(--spacing-xl);
  text-align: center;
}

@media (min-width: 768px) {
  .easy {
    text-align: left;
  }
}

.easy__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .easy__wrapper {
    flex-direction: row;
  }
}

.easy__img > img {
  margin-left: 1.5rem;
}

@media (min-width: 768px) {
  .easy__img > img {
    margin: 0;
  }
}

.easy__heading {
  color: #36536b;
  font-family: "DM Serif Display";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px; /* 116.667% */
  letter-spacing: -0.369px;
}

.easy__copy {
  color: #6c8294;
  font-family: "Public Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 186.667% */
}

@media (min-width: 768px) {
  .easy__copy {
    max-width: 625px;
  }
}

@media (min-width: 1200px) {
  .easy__copy {
    max-width: 450px;
  }
}
